option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application.py
    NumProcesses: 1
    NumThreads: 15
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    FLASK_APP: application.py
    PYTHONPATH: /var/app/current
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    Port: '80'
    Protocol: HTTP
